.description {
}

.description__title {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.description__title--italic--muted {
  font-style: italic;
  font-size: 1rem;
  font-weight: normal;
  opacity: 0.75;
}

.description__subtitle {
  font-size: $s-size;
}
