.description {
}

.description__title {
  font-size: $m-size;
  font-weight: 600;
}

.description__title--italic--muted {
  font-style: italic;
  font-size: $s-size;
  font-weight: normal;
  opacity: 0.75;
}

.description__subtitle {
  font-size: $normal;
}
