.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: $s-size;
  margin: 1.2rem 0.8rem;
  border: 1px solid black;

  @media (max-width: 576px) {
    width: 100% !important;
  }
}

.product__color-stock-row {
  width: 80%;
  margin: auto;
}
