.size {
  font-size: $normal;
  display: table;
  table-layout: fixed;
  border-spacing: $s-size;
  border-collapse: separate;
  width: 100%;
  text-align: center;
}

.size__item {
  border: 2px solid black;
  padding: 0.5rem;
  display: table-cell;
}

.size__item--disabled {
  opacity: 0.6;
  border-color: lighten(black, 50%);
}

.size__item--disabled:focus,
.size__item--disabled:hover {
  box-shadow: none;
  background-color: inherit;
  color: inherit;
  cursor: not-allowed;
}
